In [5]:
import numpy as np
import pandas as pd

Read station metadata from a comma-separated file. Columns are station ID, station name, longitude, latitude, and available water capacity.

In [15]:
metadata = pd.read_csv("data/1012475.metadata")
#metadata.head()
station_id = metadata["Station"][0]
lat = metadata["Lat"][0]
awc = metadata["AWCmm"][0]
print(f"ID: {station_id}, latitide: {lat}, AWC: {awc}")

ID: 1012475, latitide: 48.42, AWC: 123

Read climatology data from a space-delimited file. Columns are station ID, year, month, day, tmMax, tmin, and precipitation.

In [7]:
station_data = pd.read_csv("data/1012475.dat", header=None, delim_whitespace=True)
station_data.head()

         0     1  2  3    4    5    6
0  1012475  1950  1  1 -0.4 -5.4  4.6
1  1012475  1950  1  2 -5.4 -8.9  3.1
2  1012475  1950  1  3 -3.6 -9.5  5.9
3  1012475  1950  1  4 -1.1 -7.0  1.6
4  1012475  1950  1  5  2.8 -5.5  6.9

In [11]:
column_names = {0: "station_id", 1: "year", 2: "month", 3: "day", 4: "tmax", 5: "tmin", 6: "prcp"}
station_data.rename(column_names, axis=1, inplace=True)
station_data.head()

   station_id  year  month  day  tmax  tmin  prcp
0     1012475  1950      1    1  -0.4  -5.4   4.6
1     1012475  1950      1    2  -5.4  -8.9   3.1
2     1012475  1950      1    3  -3.6  -9.5   5.9
3     1012475  1950      1    4  -1.1  -7.0   1.6
4     1012475  1950      1    5   2.8  -5.5   6.9