# Self-calibrated PDSI computation for Canadian stations

We will compute the self-calibrated PDSI as well as the associated PDSI, PHDI, PMDI, and Z-Index values for a time series of temperature and precipitation data from a Canadian weather station.

In [132]:
import numpy as np
import pandas as pd
from climate_indices import indices

Read station metadata from a comma-separated file. Columns are station ID, station name, longitude, latitude, and available water capacity.

In [117]:
metadata = pd.read_csv("data/1012475.metadata")
station_id = metadata["Station"][0]
lat = metadata["Lat"][0]
awc = metadata["AWCmm"][0]
print(f"Station ID: {station_id},  latitide: {lat},  AWC: {awc}")

Station ID: 1012475,  latitide: 48.42,  AWC: 123

Read climatology data from a space-delimited file. Columns are station ID, year, month, day, tmMax, tmin, and precipitation.

In [118]:
column_names = ["station_id", "year", "month", "day", "tmax", "tmin", "prcp"]
station_data = pd.read_csv("data/1012475.dat", header=None, names=column_names, delim_whitespace=True)
station_data.head()

   station_id  year  month  day  tmax  tmin  prcp
0     1012475  1950      1    1  -0.4  -5.4   4.6
1     1012475  1950      1    2  -5.4  -8.9   3.1
2     1012475  1950      1    3  -3.6  -9.5   5.9
3     1012475  1950      1    4  -1.1  -7.0   1.6
4     1012475  1950      1    5   2.8  -5.5   6.9

Next we'll convert the year, month, and day columns into a datetime, drop those columns, and set the new datetime as the index.

In [119]:
station_data["date"] = station_data[["year", "month", "day"]].apply(lambda s : pd.datetime(*s), axis = 1)
station_data.drop(columns=["year", "month", "day"], inplace=True)
station_data.set_index("date", inplace=True)
station_data.head()

            station_id  tmax  tmin  prcp
date
1950-01-01     1012475  -0.4  -5.4   4.6
1950-01-02     1012475  -5.4  -8.9   3.1
1950-01-03     1012475  -3.6  -9.5   5.9
1950-01-04     1012475  -1.1  -7.0   1.6
1950-01-05     1012475   2.8  -5.5   6.9

Get the start and end dates.

In [134]:
start_year = station_data.index[0].year
end_year = station_data.index[-1].year
print(f"Start: {start_year}\nEnd:   {end_year}")

Start: 1950
End:   2019

We'll now take the average of the `tmin` and `tmax` columns to get a daily average temperature Series.

In [126]:
tavg_series = ((station_data["tmin"] + station_data["tmax"]) / 2)
tavg_series.head()

date
1950-01-01   -2.90
1950-01-02   -7.15
1950-01-03   -6.55
1950-01-04   -4.05
1950-01-05   -1.35
dtype: float64

We resample the daily average temperature values as monthly, and then get the mean in order to have monthly average temperatures.

In [130]:
# get the monthly average temperatures as a numpy array
tavg = tavg_series.resample('1M').mean().values
print(f"tavg: type={type(tavg)}, shape={tavg.shape}, dtype={tavg.dtype}")

tavg: type=<class 'numpy.ndarray'>, shape=(830,), dtype=float64

We resample the daily precipitation values as monthly, and then get the sum in order to have monthly total precipitation.

In [129]:
# get the monthly total precipitation as a numpy array
prcp = station_data["prcp"].resample('1M').sum().values
print(f"prcp: type={type(prcp)}, shape={prcp.shape}, dtype={prcp.dtype}")

prcp: type=<class 'numpy.ndarray'>, shape=(830,), dtype=float64

We can now compute PET.

In [133]:
pet = indices.pet(tavg, lat, start_year)
pet.shape

(830,)

We can now compute self-calibrated PDSI, "traditional" PDSI, PHDI, PMDI, and Z-Index.

Since the precipitation, PET, and AWC values are all in millimeters we'll first multiply these by `0.0393701` in order to convert the units to inches, since this is the unit required for the `climate_indices.indices.scpdsi` function.

In [139]:
prcp = prcp * 0.0393701
pet = pet * 0.0393701
awc = awc * 0.0393701
scpdsi, pdsi, phdi, pmdi, zindex = indices.scpdsi(prcp, pet, awc, start_year, start_year, end_year)